<div class="main">
    <div class="container">
        <img src="https://henrique2m.github.io/Tic-Tac-Toe-beta/assets/logo.png" />

        <H1> Olá, {{ emailFriend }}</H1>
        <p> <strong>{{ userName }}</strong> deseja jogar uma partica com você.</p>
        <p>
            <small>
                Tia-Tac-Toe é uma releitura do tradicional jogo da velha, um dos jogos
                mais antigos jogados pela humanidade. A origem é desconhecida, com indicações
                de que pode ter começado no antigo Egito, onde foram encontrados tabuleiros
                esculpidos na rocha, que teriam mais de 3.500 anos.
            </small>
        </p>
        <p>
            <strong>
                Em nossa versão contemporânea você pode realizar uma partida com um amigo
                ou um desconhecido, o mais legal é que seu oponente pode estar em qualque
                lugar do mundo.
            </strong>
        </p>

        <strong style="color: #ff9a1a;"> Você irá deixar seu adversário esperando?</strong>
        <hr />
        <p>Acesse o link para iniciar uma experiência memorável...</p>
        <br />

        <P><a href="#"><button type="button">Tic-Tac-Toe</a></button></P>
    </div>

</div>
