<div class="main">
    <div class="container">
        <img src="https://henrique2m.github.io/Tic-Tac-Toe-beta/assets/logo.png" />

        <H1> Olá, {{ player }}</H1>
        <p> Falta pouco para iniciarmos uma experiência incrível...</p>
        <p> Insira o código abaixo na tela de confirmação de e-mail.</p>
        <br />

        <strong> Seu código mágico: <span> {{code}}</span></strong>
    </div>

</div>
