<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        .main {
            background-color: #FDE0B8;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            color: #222;
            padding: 10px;
        }

        .main .container {
            margin: auto;
            display: block;
            max-width: 400px;
            min-height: 400px;
            text-align: center;
            padding: 20px;
            background-color: #8368b6;
            border: 1px solid #8368b6;
            color: #fff;
            border-radius: 5px;

        }

        .main .container img {
            width: 150px;
        }

        .main .container h1 {
            font-size: 24px;
            font-weight: bold;
        }

        .main .container p {
            font-size: 16px;
        }

        .main .container strong {
            font-weight: 700;
            font-size: 18px;
        }

        .main .container p strong {
            font-weight: 600;
            font-size: 16px;
        }

        .main .container p a {
            text-decoration: none;
        }

        .main .container p a button {
            background: #ff9a1a;
            border: 0;
            border-radius: 15px;
            width: 200px;
            padding: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            transition: background 0.5s;
        }


        .main .container p a button:hover {
            color: #ff9a1a;
            background-color: #fff;
        }
    </style>
</head>

<body>
    {{{ body }}}
    {{> footer }}
</body>

</html>
